body {
  width: 400px;
  padding: 1px;
}

.hidden {
  display: none !important;
}

#status-wrapper {
  border-radius: 8px;
  margin-bottom: 6px;
  font-weight: bold;
}

.status-box {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

#status-login {
  background-color: #e8f5e9;
  color: #2e7d32;
  padding: 5px;
  border-radius: 8px;
}

#login-profile {
  margin-left: 2px;
}

#login-id {
  color: #1a237e;
  font-weight: 900;
  margin-left: 5px;
  margin-right: 2px;
}

#status-logout {
  display: flex;
  justify-content: space-between;
  background-color: #ffebee;
  color: #c62828;
  padding: 5px 15px;
  border-radius: 8px;
}

#login-button {
  padding: 4px 10px;
  border: 1px solid #c62828;
  border-radius: 4px;
  background-color: transparent;
  color: #c62828;
  cursor: pointer;
  font-family: inherit;
}

#settings-wrapper div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
  margin-bottom: 6px;
  border-radius: 8px;
  backdrop-filter: blur(1px);
  background-color: #ffffff5e;
  box-shadow: 0px 0px 5px 1px #c5c5c570;
}

#controls-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 366px;
  height: 484px;
}

#controls-wrapper div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 156px;
  height: 51px;
  padding: 10px;
  margin-bottom: 12px;
  border-radius: 8px;
  backdrop-filter: blur(1px);
  background-color: #ffffff5e;
  box-shadow: 0px 0px 5px 1px #c5c5c570;
}

[class*="-control-label"] {
  width: 89px;
  font-weight: bold;
  font-size: 14px;
  word-break: auto-phrase;
}

#control-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.control-label {
  font-weight: bold;
  font-size: 16px;
}

#control-box {
  display: flex;
  justify-content: space-between;
  width: 85%;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  padding: 9px 13px;
}

#settings-btn {
  cursor: pointer;
}

#settings-wrapper h1 {
  margin: 10px 0 12px;
  font-size: 20px;
}

/* 토글 스위치 전체 스타일 */
.toggle-wrapper {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 22px;
}

/* 기본 체크박스는 숨김 */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* 토글 스위치의 배경(슬라이더) */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 22px;
}

/* 토글 스위치의 원(손잡이) */
.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

/* 체크됐을 때(활성화) 슬라이더 배경색 변경 */
input:checked + .slider {
  background-color: #9488ff;
}

/* 체크됐을 때 손잡이 위치 이동 */
input:checked + .slider:before {
  transform: translateX(18px);
}

#settings-wrapper {
  display: none;
  padding: 10px 5px 0px;
  font-size: 12px;
  color: #666;
  text-align: center;
  position: absolute;
  top: 3%;
  background-color: #ffffff87;
  border-radius: 12px;
  backdrop-filter: blur(2px);
  box-shadow: 0px 0px 14px 3px #beeefaa6;
  width: 93.5%;
  z-index: 1;
  height: 93.5%;
}

#notification-center {
  margin-top: 6px;
  border-top: 1px solid #eee;
  padding-top: 5px;
}

.center-header {
  height: 23px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  margin-bottom: 2px;
}

.center-header h3 {
  margin: 0;
  font-size: 16px;
}

.center-header h3 > span {
  font-size: 12px;
  color: #949494;
  margin-left: 3px;
}

.mark-btn-wrapper {
  display: flex;
  gap: 3px;
}

.mark-btn-wrapper button {
  background: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 11px;
  padding: 2px 4px;
  cursor: pointer;
  color: #555;
  font-family: inherit;
  transition: all 0.3s ease-in-out;
}

.mark-btn-wrapper button:hover {
  background-color: #f0f0f0;
}

.center-header-wrapper > .mark-btn-wrapper {
  margin-left: 8px;
  padding-bottom: 2px;
}

.mark-btn-wrapper button.active-filter {
  background-color: #6c6c6c2b;
  border-color: #6c6c6c8c;
}

#mark-all-delete-btn {
  background-color: #e63d3d4f;
  border: 1px solid #e63d3d5e;
  transition: all 0.3s ease-in-out;
}

#mark-all-delete-btn:hover {
  background-color: #e63d3d8f;
  border: 1px solid #e63d3d9c;
  color: #ffffffcc;
}

#notification-list {
  height: 432px;
  overflow-y: auto; /* 내용이 많으면 스크롤 */
}

.notification-item {
  display: flex;
  align-items: center;
  padding: 8px 4px;
  border-bottom: 1px solid #f0f0f0;
  cursor: pointer;
  transition: background-color 0.2s;
}

.notification-item:hover {
  background-color: #f9f9f9;
}

.notification-item.read {
  opacity: 0.6;
}

.notification-attach-wrapper {
  display: flex;
  gap: 4px;
  flex-wrap: wrap;
}

.banner-wrapper {
  display: flex;
  gap: 1px;
  justify-content: flex-start;
  align-items: center;
  margin-left: 6px;
}

.banner {
  width: 183px;
  line-height: normal;
  font-size: 14px;
  letter-spacing: -1px;
}

.layout-single-big img {
  display: block;
  margin-top: 3px;
  max-width: 250px;
  border-radius: 6px;
  object-fit: cover;
}

.layout-double-medium img {
  display: block;
  margin-top: 3px;
  max-width: 155px;
  border-radius: 6px;
  object-fit: cover;
}

.layout-default img {
  display: block;
  margin-top: 3px;
  max-width: 100px;
  border-radius: 6px;
  object-fit: cover;
}

.live-channel-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
}

.live-channel-img-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(#fff, #fff),
    linear-gradient(180deg, #00ffa3 0, #027f80 100%);
  position: relative;
  background-clip: content-box, border-box;
  border-radius: 50%;
  padding: 2px;
  width: 35px;
  height: 35px;
  margin-right: 5px;
}

.channel-img-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(#fff, #fff),
    linear-gradient(180deg, #f5f5f5 0, #f5f5f5 100%);
  position: relative;
  background-clip: content-box, border-box;
  border-radius: 50%;
  padding: 2px;
  width: 35px;
  height: 35px;
  margin-right: 5px;
}

.empty-channel-img {
  width: 32px;
  height: 32px;
  margin-right: 10px;
}

.live-channel-img-wrapper em {
  bottom: -4px;
  font-size: 0;
  left: 26.5%;
  position: absolute;
  background-color: #e02020;
  padding: 2px;
  border-radius: 4px;
}

.channel-img {
  border-radius: 50%;
  margin: 1px;
  background-color: rgba(0, 0, 0, 0.06);
  object-fit: cover;
  transform: scale(1);
  transition: transform 0.3s ease-in-out;
  will-change: transform;
}

.channel-img:hover {
  transform: scale(0.8);
}

.video-adult-mode {
  position: relative;
  display: inline-block;
  border-radius: 6px;
  overflow: hidden;
}

.video-adult-mode > img {
  display: block;
  max-width: 250px;
  border-radius: inherit;
}

.video-adult-mode::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 1;
  pointer-events: none;
  border-radius: inherit;

  background: no-repeat 50% / contain;
  background-color: rgba(0, 0, 0, 0.2);
  background-image: url("https://ssl.pstatic.net/static/nng/glive/resource/p/static/media/image_age_restriction_shadow.6e23574e07a43affd700.png");
}

.notification-content {
  flex-grow: 1;
}

.time-ago {
  margin-bottom: 4px;
  color: #838383;
}

.live-category,
.video-category,
.lounge-board {
  border: 1px solid gray;
  border-radius: 3px;
  padding: 2px;
  margin-right: 2px;
  line-height: 25px;
}

.live-watchParty,
.live-drops,
.live-paid-promotion {
  border: 1px solid #a4e1c7;
  border-radius: 3px;
  padding: 2px;
  margin-right: 2px;
  line-height: 25px;
  color: #009962;
}

.live-prime {
  border: 1px solid rgba(166, 123, 14, 0.5);
  border-radius: 3px;
  padding: 2px;
  margin-right: 2px;
  line-height: 25px;
  color: #cf9a12;
}

.channel-name {
  font-weight: bold;
  font-size: 14px;
  word-break: auto-phrase;
  letter-spacing: -0.5px;
}

.notification-message {
  font-size: 12px;
  color: #333;
  word-break: break-word;
  line-height: 13px;
}

.edited-indicator {
  color: #888;
  font-size: 11px;
}

.mark-one-delete-btn {
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
  color: #aaa;
  padding: 5px;
  transition: all 0.3s ease-in-out;
}

.mark-one-delete-btn:hover {
  color: rgba(243, 38, 38, 0.7);
  scale: 1.2;
}

#no-notifications {
  text-align: center;
  color: #999;
  padding: 40px 0;
}

#notification-check-wrapper {
  display: none;
  height: 581px;
  width: 400px;
  position: absolute;
  top: 10px;
  z-index: 1;
  background-color: #ffffff87;
  justify-content: center;
  backdrop-filter: blur(1px);
}

#notification-check {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5px;
  padding: 10px 5px 0px;
  font-size: 12px;
  color: #666;
  text-align: center;
  position: absolute;
  top: 12%;
  background-color: #ffffff87;
  border-radius: 12px;
  backdrop-filter: blur(2px);
  box-shadow: 0px 0px 14px 3px #beeefaa6;
  width: 91%;
  z-index: 1;
}

#notification-check .info-text {
  margin: 8px 0;
}

#notification-check a {
  color: #007bff;
  text-decoration: none;
}

#notification-check a:hover {
  text-decoration: underline;
}

.close-btn,
.close-settings-btn {
  position: absolute;
  right: 15px;
  top: 5px;
  color: red;
  font-size: 15px;
  font-weight: bold;
  border-radius: 5px;
  backdrop-filter: blur(1px);
  box-shadow: 0px 0px 14px 3px #beeefaa6;
  background-color: #ffffff66;
  padding: 3px;
  width: 15px;
  height: 15px;
  line-height: 13px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.close-btn:hover,
.close-settings-btn:hover {
  background-color: #dd5e5eb5;
  color: white;
}

#test-btn {
  display: none;
  position: absolute;
  right: 20px;
  padding: 5px;
  border-radius: 5px;
  background-color: #ffffffb5;
  backdrop-filter: blur(2px);
  box-shadow: 0px 0px 5px 3px #beeefaa6;
  font-size: 10px;
  cursor: pointer;
}

#test-btn:hover {
  background-color: #ffffff;
}

#test-notification-btn {
  padding: 6px 12px;
  margin-bottom: 10px;
  font-size: 12px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #f0f0f0;
  cursor: pointer;
  width: fit-content;
}

#test-notification-btn:hover {
  background-color: #e0e0e0;
}
